<!doctype html>
<html lang="en">
    <head>
       <title>Product display</title>
   </head>
   <body>
    {% include 'header.html' %}

        {% if err_msg %}
            {{err_msg}}
        {% else %}
            <table>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Price</th>
                </tr>
                {% for product in products_list %}
                    <tr>
                        <td>{{product.get("name")}}</td>
                        <td>{{product.get("category")}}</td>
                        <td>{{product.get("price")}}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    {% include 'footer.html' %}
   </body>
</html>